<div *ngIf="user">
    <h2>Profile</h2>
    <form (ngSubmit)="saveProfile()">
      <div>
        <label>Username:</label>
        <input [(ngModel)]="user.username" name="username" disabled>
      </div>
      <div>
        <label>Birthdate:</label>
        <input [(ngModel)]="user.birthday" name="birthday" type="date">
      </div>
      <div>
        <label>Age:</label>
        <input [(ngModel)]="user.age" name="age" type="number">
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
  
